ul.nav {
  font-family: Helvetica neue, Verdana;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor:pointer;
}
ul.nav li {
  display: block;
  position: relative;
  float: left;
}
li ul { display: none; }
ul.nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border: 0px solid #ffffff;
  padding: 7px 15px 7px 15px;
  background: #104E8B;
  margin: 1px;
  border-radius: 0px; 
  white-space: nowrap;
}
ul.nav li a:hover { background: black; }
ul.nav li.tech a:hover { background: green; }
ul.nav li.about a:hover { background: red; }
ul.nav li.travel a:hover { background: orange; }
ul.nav li.sports a:hover { background: brown; }
li:hover ul {
  display: block;
  position: absolute;
  z-index: 100;
  background:white;
  box-shadow: 2px 4px 18px rgba(0, 0, 0, 1.4);
}
li:hover li {
  float: none;
  font-size: 12px;
  color:black;
}
li:hover a { background: white; }
li:hover li a:hover { background: whitesmoke; color: whitesmoke;}